@charset "UTF-8";

@mixin font-face($name, $weight, $path){
   @font-face{
      font-family: $name;
      font-weight: $weight;
      src:url($path + ".eot");
      src:url($path + ".eot?#iefix") format('embedded-opentype'),
      url($path + ".woff") format('woff'),
      url($path + ".otf") format('opentype'),
      url($path + ".ttf") format('truetype');
   }
}

// primary font :: NotoSans
@include font-face(Noto , 400 , "../font/NotoSansKR-Regular-Hestia");
@include font-face(Noto , 500 , "../font/NotoSansKR-Medium-Hestia");
@include font-face(Noto , 700 , "../font/NotoSansKR-Bold-Hestia");

// english font :: Lato
@include font-face(Lato , 400 , "../font/Lato-Regular");
@include font-face(Lato , 700 , "../font/Lato-Bold");

// English font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');