@charset "utf-8";

@mixin default-font($korean,$weight:400){
  $korean:NanumGothic;
  font: {
    family: Lato , $korean , "맑은고딕", Dotum, "돋움", Gulim, "굴림" , sans-serif;
    weight:$weight;
  }
  color:$primary-color;
}