@charset "utf-8";

/*]-- 색상 --[*/
$primary-gray:#666666;
$middle-gray:#999999;
$light-gray:#cccccc;
$white:#ffffff;
$strong:#000000;
$section-bg:#212121;
$nav:#ff0226;

/*]-- 이미지 경로 --[*/
$imgpath:"../images/";

/*]-- 폰트 --[*/
$primary-font:#333333;

$ko-font:NanumGothic;
$eng-font:Lato;
$point-font:'Playfair Display', serif;