@charset "utf-8";
// 해당 사이트의 반응형 관리하는 페이지
//===========================================================
// Layout : tablet;
//===========================================================
@include mediaQuery(1400px){
  // header
  .quick-nav, .header-logo{display:none!important;}
  .menu-btn{
    display:block;
    &:before{width:81%;max-width:363px;}
  }
}


//===========================================================
//  Layout : mobile
//===========================================================