@charset "utf-8";
// 해당 사이트의 반응형 관리하는 페이지
//===========================================================
// Layout : PC;
//===========================================================
@include mediaQuery(900px){ // 900px부터 0px 까지
  .output-list li{
    width:calc(100%/2 - 10px);
    &:nth-child(2n-1){margin-right:20px;clear:left;}
    &:nth-child(3n+1) .output-bio:before,&:nth-child(3n+2) .output-bio:before, &:nth-child(3n+3) .output-bio:before{left:12.5%;}
  }
}

@include mediaQuery(1400px){ // 1400px ~
  // header
  .quick-nav, .header-logo{display:none!important;}
  .menu-btn{
    display:block;
    &:before{width:81%;max-width:363px;}
  }
  // profile
  .profile-list{
    flex-wrap:wrap-reverse;align-items:end;
    margin-top: 70px;
    .list-wrap{
      width:calc(100%/2 - 20px);
      &:nth-child(2),&:nth-child(3){margin-top:0;}
    }
    .personal{
      display:flex;
      width:100%;
      justify-content: space-between;
      .column{width:calc(50% - 20px);}
    }
    .column{margin-bottom:30px;}
  }


  /*] -- tablet 부터 나오는 네비게이션 -- [*/
  // 메뉴버튼
  .menu-btn.none{opacity:0;z-index:-1;}
  .main-panel{
    width:100%;
    transition:all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1) 0s;
  }
}
@media (min-width:900px){ // 901px ~
  // 포르폴리오 리스트
  .output-list li{
    margin-right: 30px;
    &:nth-child(3n){margin-right:0;}
    &:nth-child(3n-2){clear:left;}
  }
}

//===========================================================
// Layout : tablet;
//===========================================================
@include mediaQuery($tableVerticalPoint){
  // 프로필
  #profile .bg-text{top:-40px;left:2vw;font-size:80px;}
}

//===========================================================
//  Layout : mobile
//===========================================================

@include mediaQuery($mobilePoint){ // 660px 부터 0px까지
  // header
  .menu-btn:before{width:70%;}
  // main visual
  .logo-inner{
    h1{font-size:2.9rem;}
    h4{font-size:1.4rem;padding:25px 0;}
    p{font-size:1rem; padding:15px 10px 0 10px;line-height: 1.6;}
  }
  // portfolio
  .portfolio-title{
    max-width:100%;
    text-align: left;
    &:before,&:after{display:none;}
    h2{font-size:2.6rem;}
    h3{font-size:1.7rem;line-height:1.3;margin:40px 0 25px;}
  }
  //profile
  .profile-title{
    h2{font-size:2.6rem;}
    h3{font-size:1.4rem;}
  }
  .profile-list{
    .list-wrap{width:100%;}
  }
  #contact{
    padding-top: 250px;
    .contact-bg{top:-350px;}
    .contact{margin-top:30px;}
    .notice{font-size:1.3rem;line-height:1.4;}
    a,p{font-size:1.4rem;}
    h6{font-size:1.2rem;}
  }
}
@include mediaQuery(mobilePoint , devicePoint + 1px){  //660px 부터 421px 까지
  .output-list li{
    &:nth-child(2n-2) .output-bio:before{
      left:12.5%;
    }
    &:nth-child(2n-1) .output-bio:before{
      left:82.5%;
    }
  }
}

@include breakPoint(device){
  .output-list li{
    width:100%;
  }
}

/*] -- from Tablet to Mobile Navigation Class (1400px부터)-- [*/
html.sidebar-mo{
  overflow-x:hidden;
  // 모바일 메뉴 버튼
  .menu-btn{opacity: 0;}
  // 사이드
  .sidebar{
    transform:translate3d(0, 0, 0);
    box-shadow:0 16px 38px -12px rgba(0,0,0,0.56), 0 4px 25px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
    // 닫기버튼
    .side-close{
      top:22px;right:-45px;
      display: block;
      z-index:99;
    }
  }
  // sidebar list
  .slidebar-wrapper .mob-nab li {
    &:nth-child(1){transition-delay:700ms;}
    &:nth-child(2){transition-delay:800ms;}
    &:nth-child(3){transition-delay:900ms;}
    a{@include prefix(transform,translateY(0),webkit ms);}
  }
  // 메인 컨텐츠 영역
  .main-panel{@include prefix(transform,translate3d(250px, 0, 0), webkit ms);}
  // dim
  .sidebar-dim.visible{display:block;z-index:100;opacity:1;}
}