@charset "UTF-8";
/* --------------------
 * Last Modified: 2020-04
 * Author: Jinareum (jinareum.76@gmail.com)
 * Description: jinareum
 -------------------- */
@import url(base/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@font-face {
  font-family: Noto;
  font-weight: 400;
  src: url("../font/NotoSansKR-Regular-Hestia.eot");
  src: url("../font/NotoSansKR-Regular-Hestia.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansKR-Regular-Hestia.woff") format("woff"), url("../font/NotoSansKR-Regular-Hestia.otf") format("opentype"), url("../font/NotoSansKR-Regular-Hestia.ttf") format("truetype"); }
@font-face {
  font-family: Noto;
  font-weight: 500;
  src: url("../font/NotoSansKR-Medium-Hestia.eot");
  src: url("../font/NotoSansKR-Medium-Hestia.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansKR-Medium-Hestia.woff") format("woff"), url("../font/NotoSansKR-Medium-Hestia.otf") format("opentype"), url("../font/NotoSansKR-Medium-Hestia.ttf") format("truetype"); }
@font-face {
  font-family: Noto;
  font-weight: 700;
  src: url("../font/NotoSansKR-Bold-Hestia.eot");
  src: url("../font/NotoSansKR-Bold-Hestia.eot?#iefix") format("embedded-opentype"), url("../font/NotoSansKR-Bold-Hestia.woff") format("woff"), url("../font/NotoSansKR-Bold-Hestia.otf") format("opentype"), url("../font/NotoSansKR-Bold-Hestia.ttf") format("truetype"); }
@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url("../font/Lato-Regular.eot");
  src: url("../font/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Regular.woff") format("woff"), url("../font/Lato-Regular.otf") format("opentype"), url("../font/Lato-Regular.ttf") format("truetype"); }
@font-face {
  font-family: Lato;
  font-weight: 700;
  src: url("../font/Lato-Bold.eot");
  src: url("../font/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Bold.woff") format("woff"), url("../font/Lato-Bold.otf") format("opentype"), url("../font/Lato-Bold.ttf") format("truetype"); }
/*]-- body default font --[*/
/*]-- breakpoint --[*/
/*]-- keyframes / animation --[*/
/*]-- util --[*/
/*]-- border / boxs --[*/
/*] -- transition --[*/
/*]-- vender prefix --[*/
/*]-- position --[*/
/*]-- 말 줄임 --[*/
/*]-- 여백제거 --[*/
/*]-- 색상 --[*/
/*]-- 이미지 경로 --[*/
/*]-- 폰트 --[*/
.top {
  position: fixed;
  width: 45px;
  height: 45px;
  right: 20px;
  bottom: 120px;
  background: url("../images/top.png") no-repeat #cccccc;
  background-position: center center;
  z-index: 100;
  cursor: pointer;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out; }

.mouse {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 28px;
  height: 37px;
  margin: 0 auto;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px; }
  .mouse:after {
    content: "";
    position: absolute;
    left: calc(50% - 2px);
    top: 25%;
    width: 4px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 20px;
    -webkit-animation: wheel 800ms ease-in-out infinite;
    -o-animation: wheel 800ms ease-in-out infinite;
    animation: wheel 800ms ease-in-out infinite; }

@-webkit-keyframes wheel {
  0% {
    transform: translate(0, 5px); }
  50% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, 5px); } }
@-moz-keyframes wheel {
  0% {
    transform: translate(0, 5px); }
  50% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, 5px); } }
@keyframes wheel {
  0% {
    transform: translate(0, 5px); }
  50% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, 5px); } }
.menu-btn {
  position: fixed;
  top: 0;
  left: 0;
  width: 445px;
  height: 208px;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 100; }
  .menu-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -223px;
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff;
    -webkit-transform: skew(-65deg);
    -ms-transform: skew(-65deg);
    transform: skew(-65deg); }
  .menu-btn > button {
    position: relative;
    top: 56px;
    left: 80px;
    width: 34px;
    height: 30px;
    cursor: pointer; }
    .menu-btn > button .bar {
      position: relative;
      display: block;
      width: 26px;
      height: 3px;
      background: #000000;
      -moz-transition: width 300ms;
      -o-transition: width 300ms;
      -webkit-transition: width 300ms;
      transition: width 300ms; }
      .menu-btn > button .bar:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 0;
        width: 32px;
        height: 100%;
        background: #000000;
        -moz-transition: width 300ms;
        -o-transition: width 300ms;
        -webkit-transition: width 300ms;
        transition: width 300ms; }
    .menu-btn > button:hover .bar {
      width: 100%; }
      .menu-btn > button:hover .bar:before {
        width: 100%; }

.caution {
  font-size: 13px;
  color: #cccccc; }

.bg-text {
  position: absolute;
  font-family: "Playfair Display", serif;
  color: #999999;
  opacity: 0.2;
  z-index: 2; }

body {
  font-family: Lato , Noto , "맑은고딕", Dotum, "돋움", Gulim, "굴림" , sans-serif;
  font-weight: 400;
  color: #333333; }

.wrap {
  background-color: #212121; }

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 100px 0; }

.quick-nav {
  position: fixed;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 10; }
  .quick-nav li {
    display: block;
    margin-bottom: 15px; }
    .quick-nav li:last-child {
      margin-bottom: 0; }
    .quick-nav li a {
      position: relative;
      display: block;
      opacity: 0.5;
      color: #ffffff; }
      .quick-nav li a:before {
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        border: 1px solid #333333;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .quick-nav li a span {
        position: absolute;
        top: -3px;
        display: block;
        padding-left: 0;
        opacity: 0;
        white-space: nowrap;
        color: #333333;
        font-size: 15px;
        -moz-transition: all 450ms ease;
        -o-transition: all 450ms ease;
        -webkit-transition: all 450ms ease;
        transition: all 450ms ease; }
      .quick-nav li a:hover span {
        padding-left: 27px;
        opacity: 1; }
      .quick-nav li a.active {
        opacity: 1; }
        .quick-nav li a.active:after {
          content: "";
          display: block;
          width: 1px;
          height: 40px;
          margin: 15px 3px 0;
          background: #333333; }

footer {
  padding: 60px 0;
  background: #ffffff;
  font-size: 1.3rem;
  text-align: center; }

/*]-- visual --[*/
#visual {
  height: 100vh;
  overflow: hidden; }

.video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../images/video-default.png") no-repeat;
  background-size: cover; }
  .video-wrap {
    position: relative;
    height: 100vh; }
  .video:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: rgba(33, 33, 33, 0.6); }
  .video video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.6; }

.logo-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: #ffffff; }
  .logo-wrap h1 {
    font-size: 4rem; }
  .logo-wrap h4 {
    padding: 20px 0 30px;
    font-size: 1.7rem; }
  .logo-wrap p {
    padding-top: 20px;
    font-size: 1.2rem; }

/*]-- portfolio --[*/
#portfolio {
  padding-bottom: 150px;
  overflow: hidden;
  color: #ffffff;
  background-color: #212121; }

.portfolio-title {
  position: relative;
  max-width: 65%;
  margin: 0 auto;
  padding-top: 100px;
  text-align: right; }
  .portfolio-title:after, .portfolio-title:before {
    content: "";
    position: absolute;
    display: block;
    background: #ffffff; }
  .portfolio-title:before {
    right: -50px;
    top: 137px;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }
  .portfolio-title:after {
    top: 139px;
    left: calc(100% + 50px);
    width: 60%;
    height: 1px;
    opacity: 0.3; }
  .portfolio-title h2 {
    font-family: "Playfair Display", serif;
    font-size: 4rem; }
  .portfolio-title h3 {
    font-size: 2.3rem;
    line-height: 2.3; }
  .portfolio-title p {
    font-size: 20px;
    line-height: 1.7; }

.output-list {
  position: relative;
  padding: 150px 0 80px; }
  .output-list::after {
    display: block;
    content: "";
    clear: both; }
  .output-list li {
    width: 33.33%;
    max-width: 370px;
    margin-right: 30px;
    margin-bottom: 50px;
    float: left; }
    .output-list li:nth-child(3n) {
      margin-right: 0; }
    .output-list li:nth-child(3n-2) {
      clear: left; }
    .output-list li h3 {
      font-size: 1.5rem;
      line-height: 2rem;
      color: #ffffff; }
    .output-list li > p {
      line-height: 1.5rem;
      color: #999999;
      font-weight: 700; }
    .output-list li p {
      font-size: 1rem; }
    .output-list li .photo-wrap {
      position: relative;
      overflow: hidden;
      margin: 0 0 15px;
      cursor: pointer; }
      .output-list li .photo-wrap img {
        display: block;
        height: auto;
        opacity: 0.6;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -moz-transition: all 400ms ease-in-out;
        -o-transition: all 400ms ease-in-out;
        -webkit-transition: all 400ms ease-in-out;
        transition: all 400ms ease-in-out; }
      .output-list li .photo-wrap:hover img {
        opacity: 1;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
      .output-list li .photo-wrap span {
        position: absolute;
        display: block; }
      .output-list li .photo-wrap .corner {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100px;
        height: 100px;
        z-index: 3; }
      .output-list li .photo-wrap .triangle {
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-width: 0 0 100px 100px;
        border-color: transparent transparent #ffffff transparent;
        border-style: solid; }
      .output-list li .photo-wrap .plus {
        bottom: 10px;
        right: 10px;
        width: 32px;
        height: 32px; }
        .output-list li .photo-wrap .plus span {
          opacity: 1;
          background: #666666;
          -webkit-transform: 0deg;
          -ms-transform: 0deg;
          transform: 0deg;
          -moz-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          -webkit-transition: all 500ms ease;
          transition: all 500ms ease; }
          .output-list li .photo-wrap .plus span:nth-child(1) {
            top: 0;
            left: 13px;
            bottom: 0;
            width: 6px;
            height: 32px; }
          .output-list li .photo-wrap .plus span:nth-child(2) {
            top: 13px;
            left: 0;
            right: 0;
            width: 32px;
            height: 6px; }
    .output-list li .output-bio {
      position: absolute;
      left: 0;
      right: 0;
      display: none;
      width: 100%;
      margin: 25px 0;
      padding: 40px 30px 20px;
      background: linear-gradient(45deg, #333333 0%, #444444 50%, #837d7c 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#837d7c',GradientType=1 );
      color: #ffffff;
      z-index: 3; }
      .output-list li .output-bio:before {
        content: "";
        position: absolute;
        top: 0;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 37.5px 0 37.5px;
        border-color: #212121 transparent transparent transparent; }
      .output-list li .output-bio p:nth-child(1) {
        font-size: 1.24rem;
        line-height: 1.6; }
      .output-list li .output-bio p:nth-child(2) {
        padding-top: 10px;
        line-height: 2; }
      .output-list li .output-bio a {
        display: block;
        width: 35px;
        height: 35px;
        margin-top: 15px;
        background: url("../images/link.png") 50% 50% no-repeat;
        font-size: 0; }
    .output-list li.active .output-bio {
      display: block; }
    .output-list li.active .triangle {
      border-color: transparent transparent #666666 transparent; }
    .output-list li.active .plus span {
      background: #ffffff;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
      .output-list li.active .plus span:nth-child(2) {
        opacity: 0; }
  @media (min-width: 0) and (max-width: 990px) {
    .output-list {
      width: 33.33%; } }

.output-list li:nth-child(3n+1) .output-bio:before {
  left: 12.5%; }
.output-list li:nth-child(3n+2) .output-bio:before {
  left: 47.5%; }
.output-list li:nth-child(3n+3) .output-bio:before {
  left: 82.5%; }

/*]-- profile --[*/
#profile {
  position: relative; }
  #profile:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%; }
  #profile:before {
    top: 0;
    height: 90%;
    -webkit-transform: skew(0, 20deg);
    -ms-transform: skew(0, 20deg);
    transform: skew(0, 20deg);
    z-index: 2;
    background: #ffffff; }
  #profile .container {
    position: relative;
    z-index: 15; }
  #profile .bg-text {
    top: 40px;
    left: 25%;
    font-size: 100px; }

.profile-title h2 {
  font-family: "Playfair Display", serif;
  font-size: 3.4rem;
  line-height: 2; }
.profile-title h3 {
  font-size: 1.7rem; }
.profile-title p {
  margin-top: 15px;
  font-size: 1.1rem;
  line-height: 1.6; }

.profile-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 150px; }
  .profile-list .list-wrap {
    position: relative;
    width: calc(100%/3 - 20px); }
    .profile-list .list-wrap:nth-child(3) {
      margin-top: -230px; }
    .profile-list .list-wrap:nth-child(2) {
      margin-top: -95px; }
  .profile-list .column {
    height: 100%;
    padding: 20px;
    margin-bottom: 50px;
    background: #ffffff;
    -webkit-box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.2); }
    .profile-list .column dl dt {
      margin-bottom: 20px;
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 2; }
    .profile-list .column dl dd {
      margin-bottom: 10px;
      font-size: 1.1rem;
      line-height: 1.7; }
      .profile-list .column dl dd:last-child {
        margin-bottom: 0; }
      .profile-list .column dl dd span {
        display: block;
        font-size: 1.2rem;
        font-weight: 700; }
      .profile-list .column dl dd p {
        margin-bottom: 15px; }
        .profile-list .column dl dd p:last-child {
          margin-bottom: 0; }
    .profile-list .column .skill::after {
      display: block;
      content: "";
      clear: both; }
    .profile-list .column .skill dt {
      font-size: 1.6rem;
      font-weight: 700; }
    .profile-list .column .skill dd {
      float: left;
      margin-right: 29px;
      margin-bottom: 15px; }
      .profile-list .column .skill dd:nth-child(4) {
        margin-right: 0; }
    .profile-list .column .skill-detail {
      margin-top: 20px; }
      .profile-list .column .skill-detail dt {
        margin-bottom: 0; }

.resume {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  line-height: 58px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #212121;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .resume:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 40%;
    height: 1px;
    background: #212121; }
  .resume:hover {
    border-color: #999999; }
    .resume:hover:before {
      background: #999999; }

/*]-- contact --[*/
#contact {
  position: relative;
  height: 95vh;
  padding-top: 200px;
  background: #f6f8f9; }
  #contact .contact-bg {
    position: absolute;
    top: -540px;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    background: url("../images/contact-bg.jpg") #ffffff no-repeat;
    background-position-x: 0; }
    #contact .contact-bg:after {
      content: "";
      position: absolute;
      top: 60%;
      width: 100%;
      height: 65%;
      -webkit-transform: skew(0, -13deg);
      -ms-transform: skew(0, -13deg);
      transform: skew(0, -13deg);
      background: #f6f8f9; }
  #contact .container {
    position: relative;
    text-align: right;
    padding-bottom: 0; }
  #contact h2 {
    position: relative;
    display: inline-block;
    padding-right: 5px;
    overflow: hidden;
    font-family: "Playfair Display", serif;
    font-size: 3.5rem;
    letter-spacing: 0.1em;
    animation: typing 3.5s steps(40, end); }
    #contact h2:after {
      position: absolute;
      display: block;
      content: "";
      width: 20px;
      height: 100%;
      top: 3px;
      right: 0;
      border-right: 1px solid #000;
      animation: cursor 0.5s step-end infinite; }
  #contact p {
    font-size: 1.2rem;
    line-height: 1.5; }
    #contact p:last-child {
      margin-bottom: 0; }
  #contact .contact {
    position: relative;
    display: inline-block;
    margin-top: 40px; }
    #contact .contact:before {
      content: "";
      position: absolute;
      left: -34px;
      top: -2px;
      width: 30px;
      height: 30px; }
    #contact .contact:nth-child(1) {
      margin-top: 20px; }
  #contact a {
    font-size: 1.3rem; }
    #contact a:before {
      content: "";
      background: url("../images/contact-github.png") no-repeat; }
  #contact .notice {
    margin: 20px 0;
    font-size: 1.5rem;
    line-height: 1.6; }
  #contact .email:before {
    background: url("../images/contact-mail.png") no-repeat; }
  #contact .phone:before {
    background: url("../images/contact-phone.png") no-repeat; }

@keyframes typing {
  0% {
    width: 0; }
  100% {
    width: 230px; } }
@keyframes cursor {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
