@charset "utf-8";
// 네비게이션
.quick-nav{
  position: fixed;left:80px;@include vertical;
  @include transition(all 300ms ease);
  z-index:10;
  li{
    display: block;
    margin-bottom: 15px;
    &:last-child{margin-bottom:0;}
    a{
      position: relative;
      display: block;
      opacity: 0.5;color:$white;
      &:before{
        content:"";
        display: block;
        width: 7px;height:7px;
        @include border(1px,$primary-font);
        @include prefix(transform,rotate(45deg), webkit ms)
      }
      span{
        position: absolute;top:-3px;
        display: block;
        padding-left:0;
        opacity:0;
        white-space: nowrap;color:$primary-font;font-size:15px;
        @include transition(all 450ms ease);
      }
      &:hover{
        span{
          padding-left:27px;
          opacity:1;
        }
      }
      &.active{
        opacity: 1;
        &:after{
          content:"";
          display: block;
          width: 1px;height:40px;
          margin:15px 3px 0;
          background:$primary-font;
        }
      }
    }
  }
}