@charset "utf-8";

// 기본 레이아웃 class 및 body 를 위한 스타일 세팅
$content-max-width:1240px;
body{
  @include default-font;
}
@include breakPoint(mobile){
  html,body{position:relative;overflow-x:hidden;}
}
.wrap{background-color:$section-bg;}
.container{
  width: 100%;
  max-width:$content-max-width;
  margin:0 auto;
  padding:0 100px;
  @include breakPoint(tablet){
    padding:0 30px;
  }
  @include breakPoint(mobile){
    padding:0 16px;
  }
}